<%- include("partial/header"); -%>

<h1>About</h1>
<p>At Daily Journal Website, we are dedicated to delivering quality content that informs, inspires, 
    and empowers our readers. Founded on the belief that knowledge is power, 
    we strive to provide comprehensive coverage of the topics that matter most—whether it’s breaking news, 
    in-depth features, or insightful opinion pieces. Our team of passionate writers, journalists, 
    and contributors work tirelessly to bring you the most accurate and up-to-date information, 
    all while ensuring a diverse range of perspectives. Join us in our mission to create a well-informed 
    community, where everyone has access to the information they need to make informed decisions in their
    daily lives.

</p>
<%- include("partial/footer"); -%>
